[SESSION]
ConnectionType=initiator
BeginString=FIX.4.4
SenderCompID=TESTTARGET
TargetCompID=TESTSEND
SocketConnectHost=127.0.0.1
SocketConnectPort=10000
StartTime=00:00:00
EndTime=00:00:00
ResetOnLogon=Y
FileStorePath=C:/Softwares/wildfly-36.0.1.Final/standalone/data/fixstore
DataDictionary=FIX44-TRADISTA.xml
HeartBtInt=30