@charset "UTF-8";

/* Global customizations */
html {
	height: 100%;
}

.ui-panel {
	margin: 20px;
	background-color: transparent;
}

.ui-selectonemenu {
	max-width: 100%;
}

.ui-selectonebutton {
	min-width: 300px;
}

.ui-selectonemenu-items-wrapper {
	overflow-x: hidden !important;
}

.ui-selectonemenu-items-wrapper {
	overflow-y: scroll !important;
}

.separator {
	max-width: 10px;
}

body {
	min-height: 100%;
	background: linear-gradient(to top right, #00455E, #197B84);
}

body .ui-button {
	background-color: #197B84;
	border: 0px solid #197B84;
	margin-left: 10px;
}

body .ui-button:hover {
	background-color: white;
	border: 0px solid white;
	color: #197B84;
}

body .ui-inputfield {
	max-width: 80%;
}

.ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-token.ui-state-active
	{
	background-color: #197B84;
	color: white;
}

.ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-token.ui-state-active:hover
	{
	background-color: white;
	color: #197B84;
}

/* Specific customizations */
.tradista-header {
	float: left;
}

.tradista.ui-panelgrid>*>tr, .tradista.ui-panelgrid .ui-panelgrid-cell {
	border: none;
	background-color: transparent;
}

.tradista-nested.ui-panelgrid>*>tr, .tradista-nested.ui-panelgrid .ui-panelgrid-cell
	{
	border: none;
	background-color: white;
}

.tradista-menu-item {
	margin-left: 10px;
	color: var(--text-color-secondary);
}

.tradista-menu-item.ui-chkbox {
	margin-left: 10px;
}

.tradista-menu-item.ui-inputtext {
	margin-left: 10px;
}

.tradista-small-title {
	font-weight: bold;
}

.tradista-datatable {
	table-layout: auto;
}

.tradista-central-component {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.tradista-highlighted-value {
	font-weight: bold;
}

.tradista-picklist-item {
	width: 94%;
}

/* Login page customizations */
.login-body {
	background: linear-gradient(to top right, #00455E, #197B84);
}

.login-body .login-wrapper {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100vh;
}

.login-body .login-wrapper .login-panel {
	width: 30%;
	height: 100%;
	text-align: center;
	padding: 40px 20px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-direction: column;
	flex-direction: column;
}

.login-body .login-wrapper .login-panel .login-form>input {
	width: 85%;
	max-width: 310px;
	margin-bottom: 20px;
	background-color: #F6F9FE;
	color: #515C66;
}

body .login-button {
	background-color: #197B84;
	border: 0px solid #197B84;
	margin-left: 0px;
	font-family: Garamond;
}

body  .login-button:hover {
	color: #197B84;
}

.login-body .login-wrapper .login-panel .login-form>button {
	width: 20%;
}

.login-body .login-wrapper .login-panel {
	height: 70%;
}

.login-label {
	color: white;
	font-weight: bold;
	font-family: Garamond;
}

.medium-column {
	width: 150px;
	max-width: 150px;
	text-align: left;
}

.tradista-large-datepicker .ui-inputfield  {
	width: 400px;
}