@charset "UTF-8";

/* Global customizations */
html, body {
	height: 100%;
}

:root {
	--component-background-color: white;
	--component-header-background-color: #F5F5F5;
}

.ui-panel {
	margin: 20px;
	background-color: var(--component-background-color);
	display: flex;
	flex-direction: column;
	height: 95%;
	border-radius: 16px;
	overflow: hidden;
}

/* Force content to take remaining height */
.ui-panel-content {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: var(--component-background-color) !important;
}

.ui-tabview {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	background-color: var(--component-background-color);
}

.ui-tabs-nav {
	background-color: var(--component-background-color) !important;
}

.ui-tabs-header {
	background-color: var(--component-background-color) !important;
	border: none;
}

.ui-tabview-panels {
	flex: 1 1 auto;
	display: flex;
	background-color: var(--component-background-color);
}

.ui-tabview-panel {
	flex: 1 1 auto;
	display: flex !important;
	flex-direction: column;
	background-color: var(--component-background-color);
}

.ui-chart {
	flex: 1;
	width: 100%;
	height: 100% !important;
	min-height: 0;
	background-color: var(--component-background-color);
}

.ui-tabs-panels, .ui-tabs-panel {
	background-color: var(--component-background-color) !important;
}

.ui-panel-titlebar {
	background-color: var(--component-header-background-color) !important;
}

.ui-panel .ui-outputlabel {
	background-color: var(--component-background-color);
}

.ui-datatable-header .ui-outputlabel, .ui-datatable-tablewrapper .ui-outputlabel
	{
	/* background color should not be applied in datatable header */
	background-color: transparent !important;
}

.ui-selectonemenu {
	max-width: 100%;
}

.ui-selectonemenu-label {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	width: 100%;
}

.separator {
	max-width: 10px;
}

body {
	background: linear-gradient(to top right, #00455E, #197B84);
	background-attachment: fixed;
}

body, .ui-widget {
	font-family: Roboto, sans-serif !important;
}

.ui-panel-footer .ui-button {
	margin-left: 10px;
}

.ui-panelgrid-footer .ui-button {
	margin-left: 10px;
}

body .ui-button:hover {
	background-color: white;
	border: 0px solid white;
	color: #197B84;
}

.ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-token.ui-state-active
	{
	background-color: #197B84;
	color: white;
}

.ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-token.ui-state-active:hover
	{
	background-color: white;
	color: #197B84;
}

.ui-menubar {
	border-radius: 4px !important;
}

/* Specific customizations */
.tradista-header {
	float: left;
}

.tradista-nested.ui-panelgrid>*>tr, .tradista-nested.ui-panelgrid .ui-panelgrid-cell
	{
	background-color: white;
}

.tradista-nested.ui-panelgrid .ui-inputnumber input {
	width: 120px !important;
}

.tradista-menu-item {
	margin-left: 10px;
	color: var(--text-color-secondary);
}

.tradista-menu-item.ui-chkbox {
	margin-left: 10px;
}

.tradista-menu-item.ui-inputtext {
	margin-left: 10px;
}

.ui-menuitem .ui-button {
	margin-left: 10px;
}

.tradista-small-title {
	font-weight: bold;
}

.tradista-datatable {
	table-layout: auto;
}

.tradista-central-component {
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 100%;
}

.layout-content {
	height: calc(100vh - 4rem);
	display: flex;
	flex-direction: column; /* vertical stacking */
	align-items: stretch; /* full width */
	justify-content: flex-start;
}

.layout-content>form {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
}

.tradista-central-component.ui-panel {
	width: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
}

.tradista-central-component .ui-panel-content {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.tradista-highlighted-value {
	font-weight: bold;
}

.tradista-picklist-item {
	width: 94%;
}

.medium-column {
	width: 150px;
	max-width: 150px;
	text-align: left;
}

.tradista-large-datepicker .ui-inputfield {
	width: 400px;
}

/* Login page customizations */
.login-body {
	background: linear-gradient(to top right, #00455E, #197B84);
}

.login-body .login-wrapper {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100vh;
}

.login-body .login-wrapper .login-panel {
	width: 30%;
	height: 70%;
	text-align: center;
	padding: 40px 20px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-direction: column;
	flex-direction: column;
}

.login-body .login-wrapper .login-panel .login-form>input {
	width: 85%;
	max-width: 310px;
	margin-bottom: 20px;
	background-color: #F6F9FE;
	color: #515C66;
}

body .login-button {
	background-color: #197B84;
	border: 0px solid #197B84;
	margin-left: 0px;
}

.login-body .login-wrapper .login-panel .login-form>button {
	width: 20%;
}

.login-label {
	color: white;
	font-weight: normal;
}